body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body{
    text-align: center;
}
#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
}

.back-button{
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 8px 14px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 6px;
}

.back-button:hover {
    background-color: grey;
}
